
nav ul li{
    list-style: none;
    display: inline;
    
    
    
}
nav ul li a{
    text-decoration: none;
    border-left: 2px solid rgb(240, 237, 237);
    
    /* border-spacing: 10px 15p */
    padding-left: 5px;
    padding-right: 10px;
    /* margin-right: 2em; */
}
li a{
    color: blue;
    text-decoration: none;
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}
.paragraph{
    background-color: rgb(226, 226, 247);
    padding: 10px;
    margin-left: 10px;
}
.class{
    background-color: whitesmoke;
    padding: 20px 10px 10px 20px;
}
.copy{
    margin-left: 10px;
    padding: 0px 0px 0px 2px;
}


    

